.img-navbar{
    width: 50px;
}
.bg-blue{
    background-color: #41aea9;
}
.btn-color{
    background-color: blue;
}
#feature{
    padding: 10px 15px;
    background-color: #ffffff;
    position: relative;
}
.feature-box{
    text-align: center;
    padding: 4.5%;
}
.icon{
    color: tomato;
}
#carousel{
    padding: 5% 16%;
    background-color: #41aea9;
}
.carousel-img{
    width: 50%;
    border-radius: 100%;
}
.footer{
    text-align: center;
    padding: 5%;

}